* {
  margin: 0;
  
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 1px;
  font-size: 22px;
  
}
body{
  background: peachpuff;
}
h2 {
  text-align: center;
  padding: 20px 0;
  font-size: 36px;
}
body nav{
  display:flex;
  justify-content: space-between;
  padding:10px;
}

#images img{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  padding:20px;
  background-color: #f3f3f3;
}

.dropdown{
  padding:10px;
  text-align:center;
}