body {
  margin: 0;
  background-color: #cde7f8;
  color: rgb(55, 175, 184);
  font-family: "Supermercado One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
h1 {
  font-weight: 600px;
  color: rgb(216, 212, 255);
}
h2 {
  font-weight: 600px;
  color: rgb(180, 193, 216);
}
header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(55, 175, 184);
  font-style: italic;
  position: sticky;
  top: 0px;
  color: rgb(246, 246, 255);
  margin: 0;
}

.photo {
  display: block;
  width: 300px;
  margin: 0 auto;
  border: 10px double rgb(7, 190, 236);
  border-radius: 100%;
  overflow: hidden;
  background-color: rgb(246, 246, 255);
  margin-top: 15px;
}
.navBar {
  display: flex;
  padding: 25px 10px;
}

.navBar li {
  padding: 0px 5px;
  list-style-type: none;
  color: red;
}

section {
  padding: 10px;
  scroll-margin-top: 5rem;
}

#About {
  padding: 10px;
  text-align: center;
}

#Experience ul {
  display: flexbox;
  flex-direction: row;
}

#Experience ul li {
  color: blue;
  background: lightblue;
  border: 2px solid blue;
  margin: 5px;
  list-style-type: none;
}
.title-date-cont {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#Experience ul li p {
  padding: 10px;
}

#Connect {
  padding-bottom: 15px;
  font-style: italic;
}

.link {
  color: green;
}
#Connect ul {
  display: flex;
  justify-content: space-around;
}

@media all and (max-width: 750px) {
  .navBar {
    flex-direction: column;
    color: blue;
  }
  header {
    position: static;
  }
}
